{% extends ('layout.html.twig') %}
    {% block content %}
        <div class="col-sm-4 add-link"><a href="{{ path('posts.add')}}">+ Create new post</a></div>
            <table class="table table-bordered">
                <tr>
                    <td>Name</td>
		    <td>Surname</td>
		    <td>Email</td>
		    <td>Telepnone</td>
		    <td>Comment</td>
		    <td></td>
		</tr>
                 {% for post in posts %}
                <tr>
		    <td>{{post.firstName}}</td>
		    <td>{{post.lastName}}</td>
		    <td>{{post.email}}</td>
		    <td>{{post.phoneNumber}}</td>
		    <td>{{post.comment}}</td>
		    <td><a href="{{ path('posts.edit', {'id': post.id}) }}">Edit</a></td>
		</tr>
	          {% endfor %}
	    </table>
      {% endblock %}
